<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<h4 class="s-centered s-font" style="margin-bottom:0px;"><%= t("forem.post.new") %></h4>

<% if @reply_to_post %>
  <div id='posts'>
    <%= render 'reply_to_post', :post => @reply_to_post %>
  </div>
<% else %>
  <h5 class='topic_subject s-centered s-font s-padding-bottom s-red'>
    <%= @topic.subject %>
  </h5>
<% end %>

<center>
<%= simple_form_for [forem, @topic, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.reply"), :class => 'btn s-btn-red', :style => 'margin-top:20px;' %>
<% end %>
</center>
