<h4 class="s-centered">Edit User</h4>
<hr style="width:60%;margin:10px auto;">

<center>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs" style="max-width:300px;margin:15px auto 0px auto;">
    <%= f.input :username, :required => true, :autofocus => true %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <p class="s-ten s-font s-centered s-grey s-padding-bottom">Leave it blank if you don't want to change it.</p>
    <%= f.input :current_password, :required => true %>
    <p class="s-ten s-font s-centered s-grey s-padding-bottom">we need your current password to confirm your changes</p>
  </div>

  <div class="actions" style="margin-top:10px;">
    <%= f.button :submit, "Update", :class => 'btn s-btn-red' %>
  </div>
<% end %>


<p class="s-eleven s-font">Unhappy?<br/> <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<br/>
<%= link_to "Go Back", :back %>

</center>