<div id='forum'>
  <h4 class="s-centered"><%= link_to forem_emojify(forum.title), root_url %></h4>
  <span id='description' class="s-centered"><%= forem_format(forum.description) %></span>
  <hr style="margin:10px auto;max-width:60%;">
  <menu id='forum_topic_links'>
    <% unless @topic.try(:new_record?) %>
      <% if can? :create_topic, @forum %>
        <%= link_to t('forem.topic.links.new'), forem.new_forum_topic_path(forum), :class => 'btn s-btn-red-small' %>
      <% end %>
    <% end %>
    <% if @topic %>
      <i class="icon-arrow-left" style="opacity:0.5"></i> <%= link_to t('forem.topic.links.back_to_topics'), forem.forum_path(forum) %>
    <% end %>
    <% if can? :moderate, @forum %>
      <%= link_to t('forem.forum.moderator_tools'), forem.forum_moderator_tools_path(forum) %>
    <% end %>
  </menu>
</div>
